# /etc/nixos/core/system/systemd/tmpfs-mount.service

[Unit]
Description = "Mount tmpfs on /tmp and /var/run"
DefaultDependencies = no
Conflicts = umount.target
Before = local-fs.target umount.target
After = swap.target

[Service]
Type = oneshot
ExecStart = /usr/bin/mount -t tmpfs tmpfs /tmp -o size=50%,mode=1777
ExecStart = /usr/bin/mount -t tmpfs tmpfs /var/run -o size=50%,mode=1777
ExecStop = /usr/bin/umount /tmp

[Install]
WantedBy = local-fs.target
